@charset "UTF-8";
@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,900");
.hidden {
  display: none;
}
@font-face {
  font-family: "MerriweatherRegular";
  src: url("../fonts/MerriweatherRegular/MerriweatherRegular.eot");
  src: url("../fonts/MerriweatherRegular/MerriweatherRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MerriweatherRegular/MerriweatherRegular.woff") format("woff"), url("../fonts/MerriweatherRegular/MerriweatherRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  margin: 0;
  position: relative;
  min-width: 1024px;
  font-family: 'Lato', serif;
}
h3,
h4,
h5,
a,
p {
  color: #7c8081;
  font-family: 'Lato', serif;
}
.h3-title,
.h4-title {
  text-align: center;
  width: 100%;
}
.h4-title {
  font-size: 20px;
}
.h3-title {
  font-size: 24px;
}
.h2-title {
  text-align: left;
  font-size: 20px;
  color: white;
}
form {
  display: block;
  background: rgba(0, 0, 0, 0.35);
  padding: 20px;
}
form > label {
  display: block;
  position: relative;
  clear: both;
  text-align: left;
  padding-right: 65%;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px 0px;
}
form label > input {
  border-radius: 30px;
  border: none;
  padding: 10px;
  font-size: 18px;
  position: absolute;
  right: 5%;
  top: 0;
  width: 60%;
  outline: none;
}
form label > input:focus {
  box-shadow: 0px 0px 8px white;
}
.btn {
  display: block;
  padding: 20px 40px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  margin: 5px;
  border-radius: 10px;
  color: white;
  background-color: grey;
}
.btn.main-btn {
  background: -webkit-linear-gradient(top, #dd4b39, #d14836);
  background: -linear-gradient(top, #dd4b39, #d14836);
}
header {
  background: -webkit-linear-gradient(bottom, white, lightgray);
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, white, lightgray);
  /* Standard syntax */
  margin: 0;
  height: 45px;
  width: 100%;
}
header .enter-with-list {
  background-color: rgba(211, 211, 211, 0.25);
  border-radius: 10px 0 0 10px;
  padding: 5px;
  list-style: none;
  display: block;
  position: absolute;
  right: 0;
  top: 100px;
}
header .enter-with-list li {
  background-size: 100%;
  background-color: rgba(211, 211, 211, 0.25);
  background-repeat: no-repeat;
  background-position: 0 0;
  color: transparent;
  cursor: pointer;
  display: block;
  margin-bottom: 5px;
  height: 40px;
  width: 40px;
  -webkit-transition: background 1s ease;
          transition: background 1s ease;
}
header .enter-with-list li.vk-icon {
  background-image: url('../images/social-icons/vk.png');
}
/*footer*/
footer {
  background: -webkit-linear-gradient(top, white, rgba(211, 211, 211, 0.25));
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, white, rgba(211, 211, 211, 0.25));
  /* Standard syntax */
  display: block;
  margin-top: 40px;
  line-height: 60px;
  text-indent: 30px;
  font-size: 8px;
  height: 60px;
  width: 100%;
}
.main-page {
  /*<titles>*/
}
.main-page section.main-background {
  display: block;
  color: white;
  text-align: left;
  background: url("../images/1.jpg") 50% 0 no-repeat white;
  margin: 0;
  padding: 8% 2%;
}
.main-page h1.main-title {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  display: inline-block;
  font-family: 'Lato', serif;
  padding: 40px;
  text-align: center;
  margin-left: 5%;
  font-size: 38px;
  width: 400px;
}
.main-page h1.main-title .btn {
  margin-top: 10px;
}
.main-page h1.main-title.extended {
  width: 800px;
}
.main-page h1.main-title.extended form.create-form {
  display: block;
  margin: 20px 0;
}
.main-page .dispute-list-container {
  display: block;
  padding: 2% 5%;
  width: 90%;
}
.main-page .dispute-list-container .list {
  display: block;
  overflow: hidden;
  height: 160px;
  list-style: none;
}
.main-page .dispute-list-container .list.extended {
  height: auto;
}
.main-page .dispute-list-container .list li {
  display: inline-block;
  margin: 20px;
  float: left;
  height: 140px;
  width: 150px;
}
.main-page .dispute-list-container .list li a {
  display: block;
  position: relative;
  text-align: center;
  padding-top: 100px;
}
.main-page .dispute-list-container .list li a img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.main-page .dispute-list-container .view-all {
  display: block;
  background: rgba(0, 0, 0, 0.15);
  padding-top: 5px;
  height: 20px;
  width: 100%;
}
.main-page .dispute-list-container .view-all:before {
  display: block;
  margin: 0 auto;
  content: ' ';
  border: 12px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.35);
  border-bottom: 0;
  height: 20px;
  width: 0px;
}
