header {
    background: -webkit-linear-gradient(bottom, white, lightgray); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, white, lightgray); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, white, lightgray); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, white, lightgray); /* Standard syntax */
    margin: 0;
    height: 45px;
    width: 100%;
}

header a.main-logo {
    display: block;
    background: url('../images/logo-2.png') 10px 3px no-repeat transparent;
    position: absolute;
    top: -1px;
    left: 50%;
    margin-left: -25px;
    height: 45px;
    width: 50px;
}

header .enter-link {
    color: grey;
    float: right;
    margin: 10px;
    font-size: 12px;
}

header .enter-with-list {
    display: none;
}