@font-face {
    font-family: "MerriweatherRegular";
    src: url("fonts/MerriweatherRegular/MerriweatherRegular.eot");
    src: url("fonts/MerriweatherRegular/MerriweatherRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/MerriweatherRegular/MerriweatherRegular.woff") format("woff"),
    url("fonts/MerriweatherRegular/MerriweatherRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    position: relative;
    min-width: 1024px;
}

header {
    border-bottom: 1px solid #545454;
    background-color: #fff;
    margin: 0;
    height: 45px;
    width: 100%;
}

header a.main-logo {
    display: block;
    background: url('images/logo-2.png') 10px 3px no-repeat transparent;
    position: absolute;
    top: -1px;
    left: 0;
    border-radius: 10000px;
    width: 150px;
    height: 45px;
}

section.content {
    position: absolute;
    left: 0;
    right: 0;
}

section.main-background {
    display: block;
    color: white;
    text-align: center;
    background: url("images/main-background.jpg") 0 0 no-repeat #545454;
    background-size: 100%;
    margin: 0;
    padding: 10%;
}

/*<titles>*/
h1.main-title {
    background: rgba(0, 0, 0, 0.25);
    display: inline-block;
    padding: 40px;
    font-size: 38px;
    width: 600px;
}

h3, h4, h5, a {
    color: rgb(124, 128, 129);
    font-family: MerriweatherRegular, serif;;
}

.h3-title, .h4-title {
    text-align: center;
    width: 100%;
}

.h4-title {
    font-size: 20px;
}

.h3-title {
    font-size: 24px;
}
/*</titles>*/

/*<icons-list>*/
ul.icons-list {
    display: block;
    text-align: center;
    padding: 0;
    list-style: none;
    width: 100%;
}

ul.icons-list li {
    display: inline-block;
}
ul.icons-list li a {
    display: inline-block;
    text-align: center;
    padding-top: 150px;
    width: 200px;
}

ul.icons-list li a:hover {
    color: black;
}

ul.icons-list li a.idea-icon {
    background: url("images/idea-icon.jpg") 30px 0 no-repeat;
}
ul.icons-list li a.project-icon {
    background: url("images/project-icon.png") 30px 0 no-repeat;
}
ul.icons-list li a.business-icon {
    background: url("images/business-icon.jpg") 30px 0 no-repeat;
}
/*</icons-list>*/